.root {
    -fx-background-color: #1e1e1e;
}

.label {
    -fx-font-size: 32px;
    -fx-text-fill: #e8e8e8;
    -fx-alignment: center;
}

.button {
    -fx-background-color: #e8e8e8;
    -fx-text-fill: #636363;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}